{{- /* [Architecture]: Defensive Schema Extraction */ -}}
{{- $ssh_key_name := "id_ed25519_pending.pub" -}}
{{- if hasKey . "ssh_key_name" }}{{ $ssh_key_name = .ssh_key_name }}{{ end -}}
Host github.com
    HostName github.com
    User git
    IdentityFile {{ .paths.home }}/.ssh/{{ $ssh_key_name }}
    IdentitiesOnly yes
