#!/usr/bin/env bash
# [MISE] description="Compatibility wrapper for sync:vale"
# [MISE] depends=["sync:vale"]
{{/* [Reference]: https://mise.jdx.dev/tasks/file-tasks.html */}}{{ "" -}}

set -euo pipefail

:
