#!/usr/bin/env bash
# [MISE] description="Provision all ecosystem dependencies"
# [MISE] depends=["setup:security", "setup:pnpm", "setup:bat", "setup:vale"]
{{/* [Reference]: https://mise.jdx.dev/tasks/file-tasks.html */}}{{ "" -}}

set -euo pipefail

:
