#!/usr/bin/env bash
# [MISE] description="Provision setup-stage dependencies"
# [MISE] depends=["setup:security", "setup:pnpm"]
{{/* [Reference]: https://mise.jdx.dev/tasks/file-tasks.html */}}{{ "" -}}

set -euo pipefail

:
