#!/usr/bin/env bash
# [MISE] description="Compatibility wrapper for converge:bat"
# [MISE] depends=["converge:bat"]
{{/* [Reference]: https://mise.jdx.dev/tasks/file-tasks.html */}}{{ "" -}}

set -euo pipefail

:
